[Unit]
Description=Collection of metrics launched by a daily timer

[Service]
Type=oneshot
ExecStart=/usr/lib/alternc/cron_metricshistory.php

[Install]
WantedBy=default.target

